body {
  background-color:  rgb(230, 230, 230);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
.form-container {
  background: rgb(255, 255, 255);
  padding: 20px;
  margin-top: 30%;
  width: 400px;
  margin-left: 100px;
}
/* .form-control{
  width: 350px;
  border-radius: 0;
  border-bottom:1px solid rgb(0, 0, 0);
  border-top:1px solid #fff;
  border-left:1px solid #fff;
  border-right:1px solid #fff;
  
}

.form-control:focus {
border-color: #ffffff;
box-shadow: 0 2px 0px #ef6721;
} */
.sign-in-heading {
  margin-bottom: 20px;
}
.alert-success, .alert-errors {
  display: none;
}
a{ color:rgb(2, 61, 109); 
font-family: Arial, sans-serif;
font-weight:bold;
font-size:15px;
}
a #log{ color:white; 
  font-family: Arial, sans-serif;
  font-weight:bold;
  margin-left: 75rem;
  }

.card{
  background-color:rgb(230, 230, 230);
  left: 100px;
  width: 75rem;
  /* margin-top: 60px; */
  }

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  overflow-y: hidden;

}

/* Control the left side */
.left {
  left: 0;
  margin-top: 20%;
  opacity: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Control the right side */
.right {
  right: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  overflow-y: hidden;
}
img {
  max-width: 100%;
  max-height: 100%;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */

table {
  font-family: Arial, sans-serif;
  background: rgb(172, 172, 172);
}

.paging-nav {
  text-align: left;
  padding-top: 0px;
}
h3{
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
p{
  font-family: Arial, sans-serif;
}
.paging-nav a {
  margin: auto 1px;
  text-decoration: none;
  display: inline-block;
  padding: 1px 7px;
  background: #91b9e6;
  color: white;
  border-radius: 3px;
}

.paging-nav .selected-page {
  background: #187ed5;
  font-weight: bold;
}

.paging-nav,
#tableData {
  width: 400px;
  margin-left:0px ;
  font-family: Arial, sans-serif;
}

/* head card for all */
.headcard{
  margin-left: 100px;
  margin-top: 20px;
  width: 70rem;
  /* height: 200px; */
  background-color:rgb(230, 230, 230);
  border-color: #ffffff;
  border-radius: 5px;
}

.cardtext{
  
  margin-left:70px;
  /* margin-top: -190px; */
  /* text-align:center; */
  font-size:45px;
}
/* font */
/* p.e{

} */